[Unit]
Description=STT daemon
After=pulseaudio.service
Requires=pulseaudio.service

[Service]
Type=dbus
BusName=org.mkiol.Stt
ExecStart=%TARGET% --daemon
