Package: dsnote
Version: 4.8.3-1
Architecture: amd64
Homepage: https://github.com/mkiol/dsnote
Maintainer: LFdev <lfdev+deb@envs.net>
Section: misc
Depends: breeze-icon-theme, hicolor-icon-theme, libarchive13t64, libc6, libfmt10, libkf5dbusaddons5, liblzma5, libopenblas0, libpython3.13, libqt5multimedia5, libqt5multimedia5-plugins, libqt5quickcontrols2-5, libqt5x11extras5, librubberband2, libtag2, libvulkan1, libxinerama1, libxtst6, ocl-icd-libopencl1, python3 (>=3.13), qml-module-org-kde-qqc2desktopstyle, qml-module-org-kde-quickcharts, qml-module-qtquick-controls, qml-module-qtquick-dialogs, zlib1g
Suggests: intel-opencl-icd, libcudart12, mesa-vulkan-drivers, nvidia-cudnn, ydotool
Description: Offline note taking, reading and translating
 Note taking, reading and translating with offline Speech to Text,
 Text to Speech and Machine Translation.
