Package: dsnote
Version: 4.8.3-1
Architecture: amd64
Homepage: https://github.com/mkiol/dsnote
Maintainer: LFdev <lfdev+deb@envs.net>
Section: misc
Depends: breeze-icon-theme, hicolor-icon-theme, libc6, libpython3.12t64, libqt6multimedia6, libqt6qml6, libqt6quick6, libqt6quickcontrols2-6, libqt6quickdialogs2-6, libvulkan1, libxinerama1, libxtst6, ocl-icd-libopencl1, python3 (>=3.12), python3-pip, python3-venv, qml6-module-qtquick, qml6-module-qtquick-controls, qml6-module-qtquick-dialogs, zlib1g
Suggests: intel-opencl-icd, libcudart12, mesa-vulkan-drivers, nvidia-cudnn, ydotool
Description: Offline note taking, reading and translating
 Note taking, reading and translating with offline Speech to Text,
 Text to Speech and Machine Translation.
