[Desktop Entry]
Type=Application
Categories=Utility;Office;Audio;AudioVideo;TextEditor;Translation;KDE;Qt;
Icon=harbour-dsnote
Exec=harbour-dsnote --app %F
Name=Speech Note
MimeType=audio/aac;audio/mpeg;audio/x-mp3;audio/ogg;audio/vorbis;audio/x-vorbis;audio/opus;audio/x-speex;audio/speex;audio/wav;audio/x-wav;audio/flac;audio/x-flac;audio/x-matroska;audio/webm;audio/mp4;video/mpeg;video/mp4;video/ogg;video/x-matroska;video/webm;text/plain;
Keywords=SpeechNote
Comment=Take, read and translate notes in multiple languages, using Speech to Text, Text to Speech and Machine Translation.
X-Nemo-Application-Type=silica-qt5
X-Share-Methods=files;
X-DBusActivatable=true

[X-Sailjail]
Sandboxing=Disabled
OrganizationName=org.mkiol
ApplicationName=dsnote
ExecDBus=harbour-dsnote --app

[X-Share Method files]
Capabilities=audio/aac;audio/mpeg;audio/x-mp3;audio/ogg;audio/vorbis;audio/x-vorbis;audio/opus;audio/x-speex;audio/speex;audio/wav;audio/x-wav;audio/flac;audio/x-flac;audio/x-matroska;audio/webm;audio/mp4;video/mpeg;video/mp4;video/ogg;video/x-matroska;video/webm;text/plain;
SupportsMultipleFiles=yes
