[Desktop Entry]
Type=Application
Icon=dsnote
Exec=dsnote %F
Name=Speech Note
MimeType=audio/aac;audio/mpeg;audio/x-mp3;audio/ogg;audio/vorbis;audio/x-vorbis;audio/wav;audio/x-wav;audio/flac;audio/x-flac;audio/x-matroska;audio/webm;audio/mp4;video/mpeg;video/mp4;video/ogg;video/x-matroska;video/webm;text/plain;
